<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顶辰</title>
</head>

<body>
    <section style="text-align: center; margin-top: 50px;">
        <h1>Page not found</h1>
    </section>
</body>

</html>